@font-face {
    font-family: 'DejaVu-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('DejaVu Sans'), local('DejaVu-Sans'),
    url('../assets/fonts/djsans/dejavusans.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/djsans/dejavusans.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/djsans/dejavusans.ttf') format('truetype') /* Safari, Android, iOS */
}

* {
    font-family: 'DejaVu-Regular', sans-serif;
    font-weight: normal;
    color: #404349;
}
body {
    position: relative;
    margin: 0;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.content {
    position: relative;
    max-width: 1280px;
    min-width: 32px;
    margin: 0 auto;
    border: 1px solid grey;
}
.content .buttons-box {
    text-align: center;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}
button {
    display: inline-block;
    border-radius: 14px 0;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid transparent;
}
button:hover,
button:active,
button:focus {
    outline: none;
}
button:hover {
    border: 1px solid #316ADC;
    background-color: #316ADC;
    color: #FFFFFF;
}
.btn-colored {
    background: #3F8CF6;
    color: #FFFFFF;
}
.btn-bordered {
    background: #FFFFFF;
    border: 1px solid #3F8CF6;
    color: #3F8CF6;
    text-align: center;
}
button > a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 16px 42px;
    box-sizing: border-box;
}
.img-box {
    overflow: hidden;
}
.img-box > img {
    width: 100%;
}
.flex-content {
    display: flex;
    flex-direction: row;
}
header {
    height: 120px;
    text-align: center;
    background: #3F8CF6;
    margin: 0;
}
#_home-page {
    position: relative;
    min-height: calc(100vh - 120px);
    width: 100%;
    padding: 93px 0 64px;
    overflow: hidden;
    box-sizing: border-box;
}
#_ellipse {
    position: absolute;
    bottom: 64px;
    right: 0;
    z-index: -1;
}
#_home-page > .content > .content-box {
    margin-bottom: 90px;
}
#_home-page > .content > .content-box > div {
    flex: 1;
}
#_home-page > .content > .content-box > div:nth-child(1) > #_about-company {
    position: relative;
}
.red-line {
    position: relative;
    padding-left: 18px;
}
.red-line:before {
    position: absolute;
    content: '';
    display: block;
    background: #FC4E58;
    width: 4px;
    height: 100%;
    border-radius: 3px;
    left: 0;
    top: 0;
}
#_home-page > .content > .content-box > div:nth-child(1) > #_about-company > p {
    margin: 0;
    font-size: 14px;
    line-height: 44px;
}
#_home-page > .content > .content-box > div:nth-child(1) > h2 {
    font-size: 26px;
    margin: 30px 0 40px;
}
#_home-page > .content > .content-box > div:nth-child(1) > h2 > span {
    font-weight: 900;
    line-height: 42px;
}
#_home-page > .content > .content-box > div:nth-child(1) > p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 50px;
}
#_home-page > .content > .content-box > div:nth-child(1) > button.btn-colored {
    margin-right: 20px;
}
#_home-page > .content > .content-box > div:nth-child(2) > .img-box {
    width: 600px;
    float: right;
}
#_home-page > .content > #_our-doners-block > p {
    font-size: 14px;
    line-height: 44px;
    margin: 0 0 20px;
    text-align: center;
}
#_home-page > .content > #_our-doners-block > #_our-doners {
    justify-content: space-around;
    width: 900px;
    margin: 0 auto 55px;
}
#_home-page > .content > #_our-doners-block > #_our-doners > div {
    flex: 1;
    border: 1px solid;
    height: 90px;
}

#_map-page > .content > .hot-line-block {
    position: relative;
    overflow: hidden;
    height: 160px;
    background: linear-gradient(91.17deg, #3F8CF6 12.59%, #1F7DFF 87.5%);
    border-radius: 26px 0;
}
#_map-page > .content > .hot-line-block:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: url("../assets/img/wave.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
#_map-page > .content > .hot-line-block > .content-box {
    position: absolute;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
#_map-page > .content > .hot-line-block > .content-box > span {
    font-size: 26px;
    line-height: 42px;
    color: #FFFFFF;
    margin-right: 40px;
}
#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block {
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    line-height: 42px;
    color: #FFFFFF;
}
#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block > a {
    display: block;
}
#_map-page > .content > .info-block {
    text-align: center;
}
.content > .info-block > h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin: 50px 0 20px;
}
.content > .info-block > p {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.info-block > p > a {
    display: inline-block;
    width: 200px;
}
.map-box {
    width: 1064px;
    height: 670px;
    background: #3F8CF6;
    margin: 0 auto;
}

#_news-page {
    margin-bottom: 58px;
}
#_news-page  > .content > .buttons-box > button:nth-child(1),
#_news-page  > .content > .buttons-box > button:nth-child(2) {
    margin-right: 22px;
}
#_news-page  > .content > #_news-box {
    margin: 60px 0 70px;
}
#_news-page  > .content > #_news-box > div {
    flex: 1;
}
#_news-page  > .content > #_news-box > div:nth-child(2) {
    margin: 0 20px;
}
#_news-page  > .content > #_news-box > div > .img-box {
    height: 250px;
}
#_news-page > .content > #_news-box > div > .news-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}
.supporting-info {
    color: #828282;
    font-size: 12px;
    line-height: 18px;
}
#_news-page > .content > #_news-box > div > .news-txt {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 0;
    max-height: 72px; /*for IE*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#_articles-page {
    background-color: #F8FbFF;
}
#_articles-page > .content > .info-block > p {
    max-width: 655px;
    margin: 0 auto;
}
#_articles-page > .content > #_articles-box {
    margin: 90px 0 70px;
}
#_articles-page > .content > #_articles-box > div {
    flex: 1;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 26px 0;
    padding: 30px 25px 40px;
}
#_articles-page > .content > #_articles-box > div:nth-child(2) {
    margin: 0 22px;
}
#_articles-page > .content > #_articles-box > div > .pdf-size-box > .img-box {
    display: inline-block;
    width: 21px;
    float: left;
    margin-right: 8px;
}
#_articles-page > .content > #_articles-box > div > .title {
    font-size: 16px;
    line-height: 26px;
    margin: 22px 0;
}
.calendar-icon {
    margin-right: 10px;
    color: #828282;
}
#_articles-page > .content > #_articles-box > div > .download-btn-box {
    margin: 22px 0 0;
}
#_articles-page > .content > #_articles-box > div > .download-btn-box >  a {
    display: inline-block;
}
#_articles-page > .content > #_articles-box > div > .download-btn-box >  a > .download-btn-txt {
    color: #3F8CF6;
    font-size: 12px;
    line-height: 14px;
    float: left;
    margin: 8px 10px 0 0;
}
#_articles-page > .content > #_articles-box > div > .download-btn-box > a > .download-btn {
    font-size: 28px;
    color: #3F8CF6;
    float: right;
}

#_gallery-page {
    margin: 0 0 54px 0;
}
#_gallery-page > .content > .content-box {
    margin: 70px 0;
}
#_gallery-page > .content > .content-box > div {
    flex: 1;
    border: 1px solid;
}
#_gallery-page > .content > .content-box > div:nth-child(1) > iframe {
    width: 100%;
    border-radius: 26px 0;
}
#_gallery-page > .content > .content-box > div:nth-child(1) > p {
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#_gallery-page > .content > .content-box > div:nth-child(1) {
    margin: 0 10px 0 0;
}
#_gallery-page > .content > .content-box > div:nth-child(2) {
    flex-wrap: wrap;
    margin: 0 0 0 10px;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box {
    width: 48.41%;
    /*padding: 24px 0;*/
    border-radius: 26px 0;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box > img {
    width: auto;
    height: 100%;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(odd) {
    margin: 0 10px 0 0;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(even) {
    margin: 0 0 0 10px;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(3),
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(4) {
    margin-top: 10px;
}
#_gallery-page > .content > .buttons-box > button:nth-child(2) {
    margin: 0 20px;
}

#_announcement-page {
    background-color: #F8FbFF;
    padding: 0 0 50px;
}
#_announcement-page > .content > #_announcements-box {
    flex-flow: column wrap;
    counter-reset: brick;
    width: 100%;
    max-height: 1600px;
    overflow-x: hidden;
    margin: 0 0 74px;
}
#_announcement-page > .content > #_announcements-box > div {
    width: 32.3%;
    min-height: 200px;
    max-height: 596px;
    margin: 0 20px 40px 0;
}


#_faq-page > .content > #_faq-box > figure {
    border-bottom: 1px solid #F2F2F2;
}
#_faq-page > .content > #_faq-box > figure p {
    margin: 0 0 30px 0;
}



